:root {
  --primary-text-color: #212121;
  --secondary-text-color: #2196f3;
  --tretiary-text-color: #757575;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --primary-background-color: #f5f5f5;
  --secondary-background-color: #2f303a;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-background-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--primary-text-color);
}

/* Logo */
.logo,
.logo-item {
  font-weight: 700;
  font-size: 26px;
  line-height: 0.84;
  text-decoration: none;
}
.logo {
  color: #000;
}
.logo-item {
  color: var(--secondary-text-color);
}
/* Site Nav and Contacts */
.site-nav,
.contacts {
  list-style: none;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link {
  text-decoration: none;
  color: var(--primary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--secondary-text-color);
}

.contacts .link {
  color: var(--tretiary-text-color);
  text-decoration: none;
  font-weight: 500;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--secondary-text-color);
}

/* Hero */

.site-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: var(--secondary-background-color);
}

.main-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--secondary-text-color);
  border: none;
}

/* Features */
.features-section {
  list-style: none;
}
.features-section .title {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.features-section .text {
  color: var(--tretiary-text-color);
}
/* Examples */
.examples-section {
  list-style: none;
}
/* Team */
.team-section {
  list-style: none;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-section .title {
  font-weight: 500;
  color: var(--primary-text-color);
}
.team-section .text {
  font-weight: 400;
  color: var(--tretiary-text-color);
}
/* Footer */
footer {
  background-color: var(--secondary-background-color);
}
.footer-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #ffffff;
  text-decoration: none;
}

.footer-list {
  list-style: none;
}

.footer-list .link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}
.footer-list .link:hover,
.footer-list .link:focus {
  color: var(--secondary-text-color);
}

.footer-list .contact {
  color: var(--footer-contact-color);
}

/* Portfolio */
.categories{
  list-style: none;
}
.categories-button{
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
color: var(--primary-text-color);
background-color: #F5F4FA;
border-radius: 4px;
border: none;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.categories-button:hover, .categories-button:focus{
  color: #ffffff;
  background-color: var(--secondary-text-color);
}
/* Works */
.works{
  list-style: none;
}

.works .title{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--primary-text-color)
}

.works .text{
font-weight: 400;
font-size: 16px;
line-height: 1.88;
color: var(--tretiary-text-color);
}